.stack-work/
*.cabal
*~
*.o
*.hi
*.dyn_o
*.dyn_hi
.HTF/
.ghc.environment.*
dist/
dist-newstyle/
cabal-dev
*.prof
*.aux
*.hp
*.eventlog
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
.idea/
*.iml
stack.yaml.lock
